@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme inline {
  --color-background: #0F0F0F;
  --color-panel: #131313;
  --color-panel-light: #2a2a2a;
  --color-panel-dark: #101010;
  --color-tag-background: #1f1f1f;
  --color-foreground: #f4f4f4;
  --color-prose: #d1d5dc;
  --color-muted: #a0a0a0;
  --color-very-muted: #7d838d;
  --color-accent: #4f8ef7;

  --font-sans: var(--font-mulish);

  --text-base: 1rem;
  --text-title: 3rem;
  --text-header: 2rem;
  --text-tag: 0.7rem
}

a {
  @apply text-accent
}

@utility panel-shadow {
  @apply shadow-[0px_0px_4px_0px_rgba(0,_0,_0,_0.4)]
}
